#### Install pyodbc

In [1]:
!pip install pyodbc
!pip install pypyodbc

Requirement already satisfied: pyodbc in c:\users\user\anaconda3\lib\site-packages (4.0.32)
Requirement already satisfied: pypyodbc in c:\users\user\anaconda3\lib\site-packages (1.3.6)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from pypyodbc) (61.2.0)

#### Import libraries

In [2]:
import pandas as pd
import pyodbc
import pypyodbc as odbc

#### Database Details

In [3]:
uid = '***'
pwd = '***'
driver = '***'
server = '***'
database = '***'

In [4]:
cnxn = odbc.connect("Driver={driver};"
                        "Server=server;"
                        "Database=database;"
                       )
print(cnxn)

<pypyodbc.Connection object at 0x00000178C49F1490>

#### Query the database

In [5]:
sql= "SELECT * FROM [dbo].[DimCustomer]"

In [6]:
df = pd.read_sql_query(sql,cnxn)
df.tail()

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,customerkey,geographykey,customeralternatekey,title,firstname,middlename,lastname,namestyle,birthdate,maritalstatus,...,englishoccupation,spanishoccupation,frenchoccupation,houseownerflag,numbercarsowned,addressline1,addressline2,phone,datefirstpurchase,commutedistance
18479,29479,209,AW00029479,None,Tommy,L,Tang,False,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,False,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,False,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,False,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,False,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles